<!-- <!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
</head>
<body>
	<h1>{{ message }}</h1>
</body>
</html>
 -->

 <!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
	<style>
		body {
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		
		h1 {
			font-size: 3rem;
			color: #333333;
			margin-top: 100px;
		}
		
		p {
			font-size: 1.2rem;
			color: #666666;
			margin-bottom: 50px;
		}
		
		button {
			background-color: #4CAF50;
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			font-size: 1.2rem;
		}
		
		button:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<h1>{{ message }}</h1>
	<p>Welcome to my website!</p>
	<button onclick="location.href='/hello/Nub H@xor'">Say Hello to Nub H@xor</button>
	<button onclick="location.href='/hello/31337 H@xor'">Say Hello to 31337 H@xor</button>
</body>
</html>
