<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body {
        background-color: #343a40;
        color: #fff;
        padding-top: 4rem;
      }

      .navbar {
        background-color: #212529;
      }

      .navbar-brand,
      .navbar-text {
        color: #fff;
      }

      .container {
        max-width: 800px;
        margin: auto;
      }

      .card {
        border: none;
        border-radius: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 0.5rem;
        cursor: pointer;
        transition: transform 0.2s;
      }

      .card:hover {
        transform: translateY(-3px);
      }

      .card-header {
        background-color: #212529;
        color: #fff;
        text-align: center;
      }

      .card-header h5 {
        margin: 0;
        padding: 1rem;
      }

      .card-body {
        padding: 1rem;
        color: black;
      }

      .modal-dialog {
        max-width: 800px;
      }

      .modal-content {
        background-color: #343a40;
        color: #fff;
      }

      .modal-header {
        border-bottom: none;
        padding: 1rem;
      }

      .modal-header h5 {
        margin: 0;
      }

      .modal-body {
        padding: 1rem;
      }

      .modal-body p {
        margin-bottom: 0.5rem;
      }

      .close {
        color: #fff;
      }

      .close:hover {
        color: rgba(255, 255, 255, 0.8);
      }

      /* Responsive Styling */
      @media (max-width: 576px) {
        .card-columns {
          column-count: 1;
        }

        .modal-dialog {
          max-width: 100%;
        }
      }

      @media (min-width: 577px) and (max-width: 768px) {
        .card-columns {
          column-count: 2;
        }
      }

      @media (min-width: 769px) and (max-width: 992px) {
        .card-columns {
          column-count: 3;
        }
      }

      @media (min-width: 993px) {
        .card-columns {
          column-count: 4;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a class="navbar-brand" href="/">Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/new_blog">New Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Blog Cards -->
    <div class="container">
      <div class="card-columns">
        {% for blog in blogs %}
        <div class="card mt-4 blog-box" data-title="{{ blog[1] }}" data-username="{{ blog[4] }}" data-date="{{ blog[3] }}" data-content="{{ blog[2] }}">
          <div class="card-header">
            <h5 class="mb-0">{{ blog[1] }}</h5>
          </div>
          <div class="card-body">
            <p>Created by: {{ blog[4] }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Blog Modal -->
    <div class="modal fade" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="blogModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="blogModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="mb-4">
              <p class="text-muted">Posted on: <span id="modalDate"></span></p>
            </div>
            <div id="blogContent"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.blog-box').on('click', function() {
          var title = $(this).data('title');
          var username = $(this).data('username');
          var date = $(this).data('date');
          var content = $(this).data('content');

          $('#blogModalLabel').text(title);
          $('#modalDate').text(date);
          $('#blogContent').html(content);

          $('#blogModal').modal('show');
        });
      });
    </script>
  </body>
</html>
