<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #343a40;
        }

        .login-container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 150px;
            padding: 20px;
            background-color: #212529;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .login-heading {
            text-align: center;
            margin-bottom: 30px;
            color: #fff;
        }

        .form-label {
            font-weight: bold;
            color: #fff;
        }

        .form-control {
            background-color: #343a40;
            color: #fff;
            border: none;
        }

        .form-control:focus {
            background-color: #495057;
            color: #fff;
        }

        .login-button {
            margin-top: 30px;
            background-color: #007bff;
            border: none;
        }

        .login-button:hover {
            background-color: #0069d9;
        }

        .register-link {
            color: #fff;
            text-decoration: none;
        }

        .register-link:hover {
            text-decoration: underline;
        }

        .register-text {
            text-align: center;
            color: #fff;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h1 class="login-heading">Login</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('api_login') }}">
                <div class="mb-3">
                    <label class="form-label" for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary login-button">Login</button>
                </div>
            </form>
            <div class="register-text">
                Don't have an account? <a href="{{ url_for('register') }}" class="register-link">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
