<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #343a40;
            color: #fff;
            padding-top: 4rem;
        }

        .navbar {
            background-color: #212529;
        }

        .navbar-brand,
        .navbar-text {
            color: #fff;
        }

        .container {
            max-width: 800px;
            margin: auto;
        }

        .card {
            border: none;
            border-radius: 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #212529;
            color: #fff;
            text-align: center;
        }

        .card-body {
            padding: 2rem;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .form-group label {
            font-weight: 500;
            margin-bottom: 0.5rem;
            color: black; /* Added color for labels */
        }

        .form-group input[type="text"],
        .form-group textarea {
            padding: 0.375rem 0.75rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            font-size: 1rem;
            color: #fff;
            background-color: #495057;
        }

        .form-group .btn-primary {
            width: 100%;
            background-color: #007bff;
            border-color: #007bff;
        }

        .form-group .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/new_blog">New Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="mb-0">Create New Blog</h5>
            </div>
            <div class="card-body">
                <form id="createBlogForm">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" name="title" id="title" required>
                    </div>
                    <div class="form-group">
                        <label for="content">Content:</label>
                        <textarea class="form-control" name="content" id="content" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const createBlogForm = document.getElementById('createBlogForm');

        createBlogForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(createBlogForm);
            const token = "{{ session['token'] }}";

            try {
                const response = await axios.post('/api/create_blog', formData, {
                    headers: {
                        'Authorization-Token': token,
                        'Content-Type': 'multipart/form-data'
                    }
                });

                if (response.status === 200) {
                    alert('New blog created successfully!');
                    window.location.href = '/'; // Redirect to the home page
                } else {
                    alert('Failed to create a new blog.');
                }
            } catch (error) {
                alert('An error occurred. Please try again later.');
                console.error(error);
            }
        });
    </script>
</body>

</html>
