<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: #222222;">
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h1 class="text-center">Login</h1>
						<% if (message) { %>
							<p class="text-danger text-center"><%= message %></p>
						<% } %>
						<form action="/login" method="POST">
							<div class="form-group">
								<label for="emailOrUsername">Email or username:</label>
								<input type="text" id="emailOrUsername" name="emailOrUsername" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="password">Password:</label>
								<input type="password" id="password" name="password" class="form-control" required>
							</div>
							<button type="submit" class="btn btn-primary btn-block">Login</button>
						</form>
						<hr>
						<p class="text-center">Don't have an account? <a href="/register">Register here</a></p>
					</div>
				</div>
				</div>
		</div>
	</div>
</body>
</html>
