<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-dark">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5 bg-light mt-5 px-0">
				<div class="card-header bg-dark text-center">
					<h3 class="text-white pt-2">Registration Form</h3>
				</div>
				<div class="card-body bg-light">
					<form action="/register" method="POST">
						<div class="form-group">
							<label class="font-weight-bold">Username</label>
							<input type="text" class="form-control" name="username" required>
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Email</label>
							<input type="email" class="form-control" name="email" required>
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Password</label>
							<input type="password" class="form-control" name="password" required>
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Confirm Password</label>
							<input type="password" class="form-control" name="confirmPassword" required>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-dark btn-block">Register</button>
						</div>
						<p class="text-center">Already have an account? <a href="/">Login</a></p>
					</form>
					<% if (error) { %>
						<div class="alert alert-danger mt-2" role="alert"><%= error %></div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
