<!DOCTYPE html>
<html>
<head>
  <title>The Marketplace</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .product-image {
      height: 100px;
      width: 100px;
      object-fit: cover;
      transition: all .3s ease-in-out;
    }
    .product-image:hover {
      height: 200px;
      width: 200px;
    }
    .modal-backdrop.show {
      opacity: 0.75;
    }
    .product-modal .modal-dialog {
      max-width: 500px;
    }
    .product-modal .modal-body {
      overflow-y: auto;
    }
  </style>
</head>
<body>
  <%- include('header') %>

  <div class="container">
    <div class="row">
      <% products.forEach(function(product) { %>
        <div class="col-md-4 col-sm-6">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top product-image" src="<%= product.image %>">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="text-muted">$<%= product.price %></span>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#productModal-<%= product.id %>">View details</button>
              </div>
            </div>
          </div>
          <div class="modal fade product-modal" id="productModal-<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="productModalLabel-<%= product.id %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="productModalLabel-<%= product.id %>"><%= product.name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img class="img-fluid" src="<%= product.image %>">
                  <p><strong>Price:</strong> $<%= product.price %></p>
                  <p><strong>Description:</strong> <%= product.description %></p>
                  <p><strong>Vendor:</strong> <%= product.vendor %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
