<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-4">
    <h1>Ruby Code Execution</h1>
        <%= yield  %>
      <br/>
      </div>
      </div>
      <br/>
      <br/>
    </div> <!-- /container -->
  </body>
</html>
