<!DOCTYPE html>
<html>
<head>
  <title>HungTN Airline Booking</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-image: url("static/airline_bg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .card {
      width: 500px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .card-header {
      background-color: #4CAF50;
      color: white;
      text-align: center;
      padding: 20px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .card-body {
      padding: 20px;
      background-color: white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .search-form input[type="text"],
    .search-form input[type="date"] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .search-form input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    }
    .search-form input[type="submit"]:hover {
      background-color: #45a049;
    }
    .results-table {
      margin-top: 20px;
    }
    .no-results {
      text-align: center;
      margin-top: 20px;
      font-size: 18px;
      color: #6c757d;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1 class="mb-0">Welcome to HungTN Airline Booking</h1>
      </div>
      <div class="card-body">
        <form class="search-form" method="POST" action="{{ url_for('search_tickets') }}">
          <label for="departureCity">Departure City:</label>
          <input type="text" id="departureCity" name="departureCity" class="form-control" placeholder="Enter Departure City" required>
          <br>
          <label for="arrivalCity">Arrival City:</label>
          <input type="text" id="arrivalCity" name="arrivalCity" class="form-control" placeholder="Enter Arrival City" required>
          <br>
          <label for="departureDate">Departure Date:</label>
          <input type="date" id="departureDate" name="departureDate" class="form-control" required>
          <br>
          <input type="submit" value="Search" class="btn btn-success">
        </form>

        {% if tickets %}
          <table class="table table-hover results-table">
            <thead>
              <tr>
                <th>Flight Number</th>
                <th>Departure Date</th>
                <th>Departure City</th>
                <th>Arrival City</th>
                <th>Ticket Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in tickets %}
                <tr>
                  <td>{{ ticket[2] }}</td>
                  <td>{{ ticket[3] }}</td>
                  <td>{{ ticket[4] }}</td>
                  <td>{{ ticket[5] }}</td>
                  <td>{{ ticket[6] }}</td>
                  <td><a href="{{ url_for('buy_ticket', ticket_id=ticket[0]) }}" class="btn btn-primary btn-sm">Buy</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% elif search_executed %}
          <p class="no-results">No results found.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Add a logout link or button -->
  <div style="text-align: center; margin-top: 20px;">
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
