<!DOCTYPE html>
<html>
  <head>
    <title>Chat Heaven</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      h1 {
        text-align: center;
        font-size: 3rem;
        margin-top: 2rem;
      }
      h2 {
        font-size: 2rem;
        margin-top: 3rem;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      #messages {
        max-height: 400px;
        overflow-y: auto;
        margin-bottom: 1rem;
      }
      label {
        font-size: 1.2rem;
        display: block;
        margin-top: 2rem;
      }
      textarea {
        width: 100%;
        height: 150px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 1.2rem;
      }
      input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        font-size: 1.2rem;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 1rem;
      }
      input[type="submit"]:hover {
        background-color: #0062cc;
      }
      /* Navbar styling */
      nav {
        background-color: #007bff;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
      }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
      }
      nav li {
        margin-left: 20px;
      }
      nav li:first-child {
        margin-left: 0;
      }
      nav a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
      }
      nav a:hover {
        text-decoration: underline;
      }
      /* Message styling */
      #messages {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
      }
      .message {
        margin-bottom: 10px;
      }
      .message .username {
        font-weight: bold;
        color: blue;
      }
      .message .message-text {
        margin-left: 10px;
      }
      .my-message {
        background-color: #d9edf7;
      }
      .other-message {
        background-color: #f2dede;
      }
      .admin-message {
        background-color: #f7f7f7;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('profile', user_id=user_id) }}">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </nav>
    <h1 style="color: black;">Welcome to the Chat Heaven</h1>
    {% if special_message %}
      <p class="special-message">{{ special_message }}</p>
    {% endif %}
    <h2>Messages:</h2>
    <div id="messages">
      {% for message in messages %}
      <div class="message
        {% if message[1] == 'admin' %}admin-message
        {% elif message[1] == user_id %}my-message
        {% else %}other-message{% endif %}">
        <span class="username">{{ message[1] }}</span>
        <span class="message-text">{{ message[3] }}</span>
      </div>
      {% endfor %}
    </div>
    <form method="post" id="send-message-form">
      <label for="message-input">Your message:</label>
      <textarea id="message-input" name="message"></textarea>
      <input type="submit" value="Send">
    </form>
    <script>
      // Scroll to bottom of messages div on page load
      var messagesDiv = document.getElementById('messages');
      messagesDiv.scrollTop = messagesDiv.scrollHeight;

      // Send form data as JSON when submit button clicked
      var sendMessageForm = document.getElementById('send-message-form');
      sendMessageForm.addEventListener('submit', function(event) {
        event.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/send-message');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
          if (xhr.status === 200) {
            // Scroll to bottom of messages div after new message sent
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
            // Clear message input
            document.getElementById('message-input').value = '';
          } else {
            alert('There was an error sending your message.');
          }
        };
        xhr.send(JSON.stringify({
          message: document.getElementById('message-input').value
        }));
      });
    </script>
  </body>
</html>
