<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f1f1f1;
      }
      h1 {
        text-align: center;
        margin-top: 50px;
      }
      form {
        border: 3px solid #f1f1f1;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
      }
      input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
      }
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }
      input[type=submit]:hover {
        background-color: #45a049;
      }
      p {
        text-align: center;
      }
      a {
        color: #4CAF50;
      }
      .error {
        color: red;
        text-align: center;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Login</h1>
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br><br>
      <input type="submit" value="Login">
    </form>
    <br>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
  </body>
</html>
