<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <style>
      body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #343a40;
        color: #fff;
        padding: 20px;
      }
      h1, h2 {
        margin-top: 0;
      }
      .container {
        margin: 20px auto;
        max-width: 600px;
        padding: 0 20px;
      }
      .form-group {
        margin-bottom: 20px;
      }
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
      input[type="password"] {
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
        padding: 10px;
        width: 100%;
      }
      input[type="submit"] {
        background-color: #343a40;
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
      }
      input[type="submit"]:hover {
        background-color: #23272b;
      }
      .flashes {
        background-color: #ffeeba;
        border: 1px solid #ffc107;
        border-radius: 3px;
        color: #343a40;
        list-style: none;
        margin: 20px 0;
        padding: 10px;
      }
      .flashes li {
        margin-bottom: 5px;
      }
      a {
        color: #343a40;
        text-decoration: none;
      }
      a:hover {
        color: #23272b;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>User Profile</h1>
      <h2>Welcome, {{ username }}</h2>
    </header>
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <p>Here you can update your password:</p>
      <form method="post" action="{{ url_for('change_password', user_id=user[0]) }}">
        <div class="form-group">
          <label for="old-password">Old Password:</label>
          <input type="password" id="old-password" name="old_password" required>
        </div>
        <div class="form-group">
          <label for="new-password">New Password:</label>
          <input type="password" id="new-password" name="new_password" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm New Password:</label>
          <input type="password" id="confirm-password" name="confirm_password" required>
        </div>
        <input type="submit" value="Change Password">
      </form>
      <br>
      <a href="{{ url_for('index') }}">Back to index</a>
    </div>
  </body>
</html>
