<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
      }
      h1 {
        color: #333;
        text-align: center;
        margin-top: 50px;
      }
      form {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
      }
      label {
        display: block;
        margin-bottom: 5px;
        color: #333;
      }
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
      input[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #45a049;
      }
      p {
        text-align: center;
        margin-top: 20px;
      }
      a {
        color: #4CAF50;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .error {
        color: red;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Register</h1>
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br><br>
      <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
  </body>
</html>
